
@{
    ViewBag.Title = "Aktivacija";
}

<h2>Aktivacija</h2>
<!DOCTYPE html>
<html>
<head>
    <title>Customer Form</title>
</head>
<body>
    <form method="post">
        <input type="text" name="unosKoda" placeholder="Unesite kod" />
        <input type="submit" value="Submit" class="submit" />
    </form>
</body>
</html>
