@model testpocetni.Models.Korisnik

@{
    ViewBag.Title = ViewBag.Greska;
}

<h2>@ViewBag.Greska</h2>
@ViewBag.Title;

<!--<div class="row">
    <div class="col-sm-3">
        <div style="height: 300px;" class="bg-danger">
            <img src="~/Profilne/pocetna_ikona.jpeg" width="100%" height="280px" />
            <button>Hahu</button>
        </div>
        <div style="height: 300px; margin-top: 20px;" class="bg-info"></div>
        <div style="height: 300px; margin-top: 20px;" class="bg-info">aa</div>
    </div>
    <div style="height: 500px;" class="col-sm-9 bg-info">Div desno</div>
</div>
    -->
